.upcomingMoviesHeader {
  font-size: 1rem;
  background-color: #ff9999;
  padding: 8px;
  text-align: center;
}

.home{
    overflow-x: hidden;
}

.movieFilter {
  width: "24%";
  margin: "16px";
}

.releasedMovies {
  display: flex;
}
